# openHAB webservice REST API
# Default = http://localhost:8080/rest/items
REST_URL = http://localhost:8080/rest/items

# URL used by openHAB
# No '"' !
# Default = http://localhost:8080/rest/items
BASE_URL = http://localhost/velserver/service.pl

# openHAB items file that will populated with Velbus devices
# Make sure that the user that runs the website can write to this file
# Default = /etc/openhab2/items/velbus.items
ITEM_FILE = /etc/openhab2/items/velbus.items

# Group definitions
# GROUP_<openHAB group> = <list of Velbus devices/channels>
# Don't forget to the groups also in openHAB!
GROUP_G_DIMMERS_ALL        = %^Dimmer.+
GROUP_G_BLINDS_ALL         = %^Blind.+
GROUP_G_TEMPERATURE_ALL    = %^Temperature.+
GROUP_G_HEATER_ALL         = %^Heater.+
GROUP_G_RELAY_ALL          = %^Relay.+
GROUP_G_COUNTER_ALL        = %^Counter.+ %^Divider.+
GROUP_G_COUNTERCURRENT_ALL = %^CounterCurrent.+
GROUP_G_BUTTON_ALL         = %^Button.+

# Group that will contains all velbus items
GROUP_G_ALL = %.

# If you set this, the internal velserver name is used in the name of the item
INCLUDE_AC_IN_NAME = yes

# polling interval for openHAB to poll velserver for the status of items
# Default = 60000000
#POLLING=3600
